<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tinder</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Tinder.styles.css" asp-append-version="true" />
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    @*<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Tinder</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>*@
    <div class="main">
        <aside class="nav">
            <div class="nav__header">
                <div class="nav__hearder--profile">
                    <a href="#">
                        <img src = "https://scontent.fhph1-3.fna.fbcdn.net/v/t1.6435-1/c1.64.198.199a/p200x200/141433767_1108249559690088_990288042436184426_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=7206a8&_nc_ohc=5yxEM9Iimv0AX_4k7Ox&_nc_ht=scontent.fhph1-3.fna&oh=00_AT-vqYdzU7_RG4YwBws_REoHUQ_G1kzl29AkfIijrbwnXg&oe=61FCEA38">
                        <h3>Đông</h3>
                    </a>
                </div>
                <div class="nav__header--contact"></div>
            </div>
            <div class="nav__qc"></div>
            <partial name="_LoginPartial" />
            <div class="nav_content">
                <div class="nav_content-button">
                    <button type="button" class="nav-button nav-active" data-value = "ket_noi"><spam>Kết Nối</spam></button>
                    <button type="button" class="nav-button" data-value = "tin_nhan"><spam>Tin Nhắn</spam></button>
                </div>
                <div class="nav__content-main" id = "js_nav_content_main"></div>
            </div>
        </aside>
         @RenderBody()
        
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>